[Unit]
Description=AI Envoy
ConditionPathExists=/var/lib/aienvoy
After=network.target network-online.target
Requires=network-online.target


[Service]
Type=simple
User=aienvoy
Group=aienvoy
LimitNOFILE=1024
TimeoutStopSec=5s
LimitNOFILE=1048576
LimitNPROC=512
PrivateTmp=true
ProtectSystem=full
Restart=on-failure
RestartSec=10
startLimitIntervalSec=60

WorkingDirectory=/var/lib/aienvoy
ExecStart=/var/lib/aienvoy/aienvoy serve


[Install]
WantedBy=multi-user.target
